<a href="https://colab.research.google.com/github/Kavyajyothi2006/python2025/blob/main/control_flow_loops0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Even or Odd

In [1]:
num=int(input("enter a number:"))
if num % 2==0:
  print("number is even")
else:
  print("number is odd")

enter a number:12
number is even

sum of numbers in given range

In [3]:
start =int(input("enter start value:"))
stop=int(input("enter end value:"))
sum=0
for i in range(start,stop+1):
    sum=sum+i
    print(sum)

enter start value:4
enter end value:8
4
9
15
22
30

factorial

In [5]:
n=int(input("enter an integer:"))
fact=1
for i in range(1,n+1):
  fact=fact*i
  print(fact)

enter an integer:6
1
2
6
24
120
720

fibonacci series

In [12]:
n=int(input("enter no of terms:"))
a , b  = 0 , 1
for i in range(n):
  print(a,end=" ")
  a , b = b , a+b

enter no of terms:7
0 1 1 2 3 5 8