creating list

In [ ]:
num=[1,2,3,4,5,6,7,8,9,0]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

appending and inserting

In [ ]:
num.append(10)
num.insert(9,0)
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10]

list removal

In [ ]:
num.remove(4)
print(num)

[0, 0, 1, 2, 3, 5, 6, 7, 8, 9, 10]

list sorting

In [ ]:
num.sort()
print(num)

[0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list reversal

In [ ]:
num.reverse()
print(num)

[3, 5, 5, 9, 8, 7, 6, 5, 1]

list indexing

In [ ]:
num=[1,2,3,4,5,6,7,8,9,0]
num1=num[0]
num3=num[-1]
num2=num[len(num)//2]
print(num1,num2,num3)

1 6 0

list removal using pop()

In [ ]:
num.pop()
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

sum of list of elements

In [ ]:
num =[1,2,3,4,5,6,7,8,9,0]
total=sum(num)
print(total)

45

max and min in a list

In [ ]:
num =[1,2,3,4,5,6,7,8,9,0]
print(max(num))
print(min(num))

9
0

count occurences

In [ ]:
num=[1,5,6,7,8,9,5,5,3]
count_5=num.count(5)
print(count_5)

3

dictionary creation

In [ ]:
a={
    "name" :"kavya",
    "age"  :19,
    "weight":55,
    "place":"kunigal"
}
print(a)

{'name': 'kavya', 'age': 19, 'weight': 55, 'place': 'kunigal'}

accessing a dictionary value

In [ ]:
a={
    "name" :"kavya",
    "age"  :19,
    "weight":55,
    "place":"kunigal"
}
print(a["name"])

kavya

adding and updating dictionary element

In [ ]:
a={
    "name" :"kavya",
    "age"  :19,
    "weight":55,
    "place":"kunigal"
}
a['height']=160
print(a)

{'name': 'kavya', 'age': 19, 'weight': 55, 'place': 'kunigal', 'height': 160}

removing an element from dictionary

In [ ]:
a={
    "name" :"kavya",
    "age"  :19,
    "weight":55,
    "place":"kunigal"
}
del a['age']
print(a)

{'name': 'kavya', 'weight': 55, 'place': 'kunigal'}

iterating through dictionary

In [ ]:
a={
    "name" :"kavya",
    "age"  :19,
    "weight":55,
    "place":"kunigal"
}
for i,j in a.items():
  print(i,j)

name kavya
age 19
weight 55
place kunigal

merging dictionaries

In [ ]:
a={
    "name" :"kavya",
    "age"  :19,
    "weight":55,
    "place":"kunigal"
}
b={
    "age":20,
    "place":"hyderabad"
}
a.update(b)
print(a)

{'name': 'kavya', 'age': 20, 'weight': 55, 'place': 'hyderabad'}

check key in dictionary

In [ ]:
a={
    "name" :"kavya",
    "age"  :19,
    "weight":55,
    "place":"kunigal"
}
if 'name' in a:
  print("key 'name' is present in the dictionary")
else:
  print("key 'name' is not present in the dictionary")

key 'name' is present in the dictionary

set creation and operation

In [ ]:

a={1,2,3,4,5}
b={6,7,8,9,0}
a|b
a&b
a-b

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

add and remove element from set

In [ ]:
set={1,2,5,8,0,9,3,}
set.add(4)
print(set)
set.remove(0)
print(set)

{0, 1, 2, 3, 4, 5, 8, 9}
{1, 2, 3, 4, 5, 8, 9}
kavya,10

check element in set

In [ ]:
set={1,2,5,8,0,9,3}
print(3 in set)
print(7 in set)

True
False
kavya,10

common elements in 2 set

In [ ]:
print("kavya,10")
a={1,2,3,4,5,6}
b={5,6,7,8,9,10}
a&b

kavya,10

{5, 6}